<div class="container">
  <header class="header">
    <svg class="logo" width="400" height="400" viewBox="0 0 100 100">
      <circle cx="50" cy="50" r="45" fill="none" stroke="var(--primary)" stroke-width="2"
              [attr.stroke-dasharray]="dashArray"
              [attr.stroke-dashoffset]="BigInt(Math.floor(dashOffset)) * BigInt(timerService.timeLeft) / BigInt(timerService.duration)">
        <animate attributeName="stroke-dasharray" from="0 283" to="283 283" dur="1s" />
      </circle>
      <text x="50" y="50" text-anchor="middle" fill="white" font-size="7">
        Remaining Time: {{timerService.timeLeft}} seconds
      </text>
      <text x="50" y="60" text-anchor="middle" fill="white" font-size="4">
        Stage: {{this.timerService.stage}}
      </text>
    </svg>
    <h1>CryptoLotto</h1>
    <p>Decentralized Ethereum Lottery</p>
  </header>

  <div id="wallet-status" *ngIf="!this.contractService.currentAccount">
    <p>Please connect your wallet to continue</p>
  </div>


  <div class="lottery-card">
    <h2>Test learnstage method</h2>
    <div id="withdraw">
      <button class="btn" (click)="this.contractService.learnStage()">
        Check Stage
      </button>
    </div>
  </div>

  <div class="lottery-card">
    <h2>Account</h2>
    <div id="jackpot-amount">
      <p *ngIf="contractService.currentAccount"> Connected Wallet: {{contractService.currentAccount}}</p></div>
    <div class="ticket-numbers" id="ticket-grid"></div>
    <button class="btn" id="purchase-ticket" (click)="this.contractService.connectAccount()">
      Connect Wallet
    </button>
  </div>

  <div class="lottery-card">
    <h2>Your Hash Value</h2>
    <div id="input-box">
      <h3>Option 2: Custom Hash Entry</h3>
      <input type="text"
             class="hash-input"
             id="hash-input"
             placeholder="Enter your lucky hash (0x...)"
             [pattern]="'^0x[0-9a-fA-F]{64}$'"
             [maxLength]="66"
              [(ngModel)]="this.contractService.hashValue">
      <button class="btn" id="purchase-with-hash" (click)="contractService.purchaseTicket(this.contractService.hashValue)">Buy with Hash (0.0007 ETH)</button>
    </div>
  </div>

  <div class="lottery-card">
    <h2>Get Balance</h2>
    <div id="balance">
      <p *ngIf="contractService.balance"> Current Balance: {{contractService.balance}}</p>
      <button class="btn" (click)="this.contractService.getBalance()">
        Get Balance
      </button>
    </div>
  </div>

  <div class="lottery-card">
    <h2>Reveal Winner</h2>
    <div id="reveal">
      <button class="btn" (click)="this.contractService.pickWinner()">
        Reveal Winner
      </button>
    </div>
  </div>

  <div class="lottery-card">
    <h2>Claim Prize</h2>
    <div id="claim">
      <button class="btn" (click)="this.contractService.claimPrize()">
        Claim Prize
      </button>
    </div>
  </div>
</div>
